extends layout

block content
  .row.banner
    .col-12
      h1= location.name
      small #{location.address}

  .row
    .col-12.col-md-8
      h2 Description
      p= location.description

      h3 Rating:
      if location.rating
        each star in [1,2,3,4,5]
          if star <= location.rating
            i.fas.fa-star(style="color: gold;")
          else
            i.far.fa-star(style="color: gold;")
      else
        p No rating yet.

      h3 Facilities
      ul
        each facility in location.facilities
          li= facility

      h3 Opening Hours
      ul
        each time in location.openingTimes
          li
            strong= time.days
            | : #{time.opening} - #{time.closing} (#{time.closed ? 'Closed' : 'Open'})

      h3 Customer Reviews
      if location.reviews && location.reviews.length
        each review in location.reviews
          .review
            h4= review.author
            small= review.date
            br
            if review.rating
              each star in [1,2,3,4,5]
                if star <= review.rating
                  i.fas.fa-star(style="color: gold;")
                else
                  i.far.fa-star(style="color: gold;")
            p= review.text
      else
        p No reviews yet.

    .col-12.col-md-4
      p #{sidebar}
