extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      h3= pageHeader.strapline

  .row
    .col-xs-12.col-md-9
      each location in locations
        .panel.panel-primary
          .panel-heading
            h3.panel-title
              a(href=`/location/${location._id || location.name}`) #{location.name}
              span.badge.pull-right #{location.distance}
          .panel-body
            p
              if location.rating >= 1
                span.glyphicon.glyphicon-star
              if location.rating >= 2
                span.glyphicon.glyphicon-star
              if location.rating >= 3
                span.glyphicon.glyphicon-star
              if location.rating < 5
                span.glyphicon.glyphicon-star-empty
            p #{location.address}
            ul.list-inline
              each facility in location.facilities
                li #{facility}

    .col-xs-12.col-md-3
      p.lead= sidebar
