extends layout

block content
  .row.page-header
    .col-lg-12
      h2 Loc8r
      h3 Find places to work with wifi near you!
  .row
    .col-md-8
      each location in locations
        .panel.panel-default
          .panel-body
            h4.panel-title
              a(href=`/location/${location._id}`)= location.name
              span.pull-right.label.label-danger= location.distance
            p
              | #{location.address}
            p
              | 
              i(class='fas fa-star', style=`color: ${location.rating >= 1 ? 'gold' : 'gray'};`)
              i(class='fas fa-star', style=`color: ${location.rating >= 2 ? 'gold' : 'gray'};`)
              i(class='fas fa-star', style=`color: ${location.rating >= 3 ? 'gold' : 'gray'};`)
              i(class='fas fa-star', style=`color: ${location.rating >= 4 ? 'gold' : 'gray'};`)
              i(class='fas fa-star', style=`color: ${location.rating >= 5 ? 'gold' : 'gray'};`)
            p
              strong Hot drinks
              |   
              strong Food
              |   
              strong Premium wifi
    .col-md-4
      p Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
