extends layout

block content
  .row.page-header
    .col-lg-12
      h1= location.name

  .row
    .col-xs-12.col-md-9
      p.lead= location.address

      h3 Facilities
      ul
        each facility in location.facilities
          li #{facility}

      h3 Opening Hours
      p= location.openingTimes

      h3 Reviews
      each review in location.reviews
        .well.well-sm
          strong #{review.author}
          span.pull-right #{review.date}
          p #{review.text}

    .col-xs-12.col-md-3
      p.lead Distance: #{location.distance}
